<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="keywords" content="旧书,二手书,二手教材,旧教材,校园书籍,校园旧书，旧书网">
<meta name="description" content="买卖二手书，就上旧书街">
<meta name="language" content="zh">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="res/form.css">
<link rel="stylesheet" type="text/css" href="res/pager.css">
<link rel="stylesheet" type="text/css" href="res/ubm_basic.css">
<link rel="shortcut icon"
	href="http://cdnfile.jiushujie.com/images/ubm.ico" type="image/x-icon">

<script type="text/javascript" src="https://lib.baomitu.com/vue/2.6.12/vue.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.min.js"></script>
<script type="text/javascript" src="js/cateList.js"></script>
<title>买卖二手书,就上旧书街</title>
</head>
<body>
	<div class="site_top_row">
		<div class="center_980">
			<div class="school_location" style="float: left;">
				[<a href="javascript:void(0)"
					onclick="showSchoolList();return false;">所有学校</a>]
			</div>
			<div id="top_user_info" style="float: right;">
				<a href="login.html">登录</a>|<a
					href="sell.html/create">出售</a>|<a
					style="color: rgb(254, 137, 0);"
					href="register.html">立即注册</a>|<a
					class="app_mobile" target="_blank"
					href="site/app">下载APP</a>
			</div>
			<div class="clearfloat"></div>
		</div>
	</div>
	<div id="top">
		<div class="center_980">
			<div id="logo">
				<a href=""> <img
					src="res/jiushujie-logo.png" alt="买卖二手书,就上旧书街" title="买卖二手书,就上旧书街">
				</a>
			</div>
			<div style="float: left;">
				<img src="res/slogan1124.png">
			</div>
			<div id="top-nav">
				<ul class="top_menu">
					<li><a id="home_tab" href="/"
						class="selectedtab">首页</a></li>
					<li><a id="sell_tab" href="sell.html">出售</a>
					</li>
					<li><a id="buy_tab" href="buy">求购</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="main_middle">

		<div id="main_content" class="center_980">
			<div class="content_left">
				<div id="cate">
					<!-- 使用Vue的自定义组件 -->
					<cate></cate>
				</div>
				<script type="text/javascript">
					new Vue({
						el:"#cate"
					})
				</script>
				<div class="side_block">
					<div class="title">热门书店</div>
					<div class="separate"></div>
					<div class="hot_seller">
						<ul>
							<li><a href="/user/26398619/sell.html" target="_blank"><img
									class="user_pic_tiny"
									src="http://cdn.shujie.me/user/2020/12/11/11/26398619_u8qh0icocnbarbes.jpg!tiny"
									alt="启航ing" title="启航ing"></a><a href="/user/26398619/sell.html"
								target="_blank">启航ing&nbsp;&nbsp;(409738)</a></li>
							<li><a href="/user/26226787/sell.html" target="_blank"><img
									class="user_pic_tiny"
									src="http://cdn.shujie.me/user/2020/04/29/01/93860536_pvmk0snsd9fxqkmu.jpg!tiny"
									alt="一方书店" title="一方书店"></a><a href="/user/26226787/sell.html"
								target="_blank">一方书店&nbsp;&nbsp;(102913)</a></li>
							<li><a href="/user/26256434/sell.html" target="_blank"><img
									class="user_pic_tiny"
									src="http://cdn.shujie.me/user/2020/07/14/17/26256434_stxmrnzp8s19jyun.jpg!tiny"
									alt="zxsd69" title="zxsd69"></a><a href="/user/26256434/sell.html"
								target="_blank">zxsd69&nbsp;&nbsp;(94131)</a></li>
							<li><a href="/user/26323795/sell.html" target="_blank"><img
									class="user_pic_tiny"
									src="http://cdn.shujie.me/user/2020/08/14/03/26323795_9cqz7krwnhdcbyj5.jpg!tiny"
									alt="友佳特价书店" title="友佳特价书店"></a><a href="/user/26323795/sell.html"
								target="_blank">友佳特价书店&nbsp;&nbsp;(93289)</a></li>
							<li><a href="/user/16982378/sell.html" target="_blank"><img
									class="user_pic_tiny"
									src="http://cdn.shujie.me/user/2017/08/31/8692929230_1504180972.jpg!tiny"
									alt="上游" title="上游"></a><a href="/user/16982378/sell.html"
								target="_blank">上游&nbsp;&nbsp;(90381)</a></li>
							<li><a href="/user/26438497/sell.html" target="_blank"><img
									class="user_pic_tiny"
									src="http://cdn.shujie.me/user/2020/11/30/1803262834_1606718236.jpg!tiny"
									alt="honestyisgold" title="honestyisgold"></a><a
								href="/user/26438497/sell.html" target="_blank">honestyisgold&nbsp;&nbsp;(46459)</a></li>
							<li><a href="/user/26257385/sell.html" target="_blank"><img
									class="user_pic_tiny"
									src="http://cdn.shujie.me/user/2020/06/01/04/26257385_dzjjvwws5m6omira.jpg!tiny"
									alt="三未书屋" title="三未书屋"></a><a href="/user/26257385/sell.html"
								target="_blank">三未书屋&nbsp;&nbsp;(35416)</a></li>
							<li><a href="/user/24099523/sell.html" target="_blank"><img
									class="user_pic_tiny"
									src="http://cdn.shujie.me/user/2019/07/15/11/24099523_pn70je326thqjkic.jpg!tiny"
									alt="倾城小小" title="倾城小小"></a><a href="/user/24099523/sell.html"
								target="_blank">倾城小小&nbsp;&nbsp;(23582)</a></li>
							<li><a href="/user/25158186/sell.html" target="_blank"><img
									class="user_pic_tiny"
									src="http://cdn.shujie.me/user/2020/07/08/10/25158186_dzg5rxx0nj36dwel.jpg!tiny"
									alt="激素脸啊" title="激素脸啊"></a><a href="/user/25158186/sell.html"
								target="_blank">激素脸啊&nbsp;&nbsp;(13373)</a></li>
							<li><a href="/user/26154282/sell.html" target="_blank"><img
									class="user_pic_tiny"
									src="http://cdn.shujie.me/user/2020/03/15/14/26154282_0epqtcprt6t3c2mo.jpg!tiny"
									alt="拼搏精灵" title="拼搏精灵"></a><a href="/user/26154282/sell.html"
								target="_blank">拼搏精灵&nbsp;&nbsp;(12558)</a></li>
						</ul>
					</div>
				</div>

				<div class="side_block">
					<div class="title">热门个人</div>
					<div class="separate"></div>
					<div class="hot_seller">
						<ul>
							<li><a href="/user/18610091/sell.html" target="_blank"><img
									class="user_pic_tiny"
									src="http://cdn.shujie.me/user/2019/02/10/08/18610091_qk0mty3m2t6j51nv.jpg!tiny"
									alt="活到老学到老9" title="活到老学到老9"></a><a
								href="/user/18610091/sell.html" target="_blank">活到老学到老9&nbsp;&nbsp;(44)</a></li>
							<li><a href="/user/18354480/sell.html" target="_blank"><img
									class="user_pic_tiny"
									src="http://cdn.shujie.me/user/2017/08/31/3028006862_1504149999.jpg!tiny"
									alt="yuyuyuyu" title="yuyuyuyu"></a><a
								href="/user/18354480/sell.html" target="_blank">yuyuyuyu&nbsp;&nbsp;(24)</a></li>
							<li><a href="/user/17628138/sell.html" target="_blank"><img
									class="user_pic_tiny"
									src="http://cdn.shujie.me/user/2017/05/31/5199700371_1496231027.jpg!tiny"
									alt="思明" title="思明"></a><a href="/user/17628138/sell.html"
								target="_blank">思明&nbsp;&nbsp;(23)</a></li>
							<li><a href="/user/14853178/sell.html" target="_blank"><img
									class="user_pic_tiny"
									src="http://cdn.shujie.me/user/default.jpg!tiny" alt="asd"
									title="asd"></a><a href="/user/14853178/sell.html" target="_blank">asd&nbsp;&nbsp;(15)</a></li>
							<li><a href="/user/15789287/sell.html" target="_blank"><img
									class="user_pic_tiny"
									src="http://cdn.shujie.me/user/2016/06/27/8615184806_1466984533.jpg!tiny"
									alt="大学季创业季" title="大学季创业季"></a><a href="/user/15789287/sell.html"
								target="_blank">大学季创业季&nbsp;&nbsp;(14)</a></li>
							<li><a href="/user/16833056/sell.html" target="_blank"><img
									class="user_pic_tiny"
									src="http://cdn.shujie.me/user/2017/01/09/0844620528_1483947163.jpg!tiny"
									alt="何哈哈哈" title="何哈哈哈"></a><a href="/user/16833056/sell.html"
								target="_blank">何哈哈哈&nbsp;&nbsp;(12)</a></li>
							<li><a href="/user/21586384/sell.html" target="_blank"><img
									class="user_pic_tiny"
									src="http://cdn.shujie.me/user/default.jpg!tiny" alt="Nacy撸"
									title="Nacy撸"></a><a href="/user/21586384/sell.html"
								target="_blank">Nacy撸&nbsp;&nbsp;(10)</a></li>
							<li><a href="/user/19101053/sell.html" target="_blank"><img
									class="user_pic_tiny"
									src="http://cdn.shujie.me/user/2017/11/19/02/02855332_a3khgl9ahb6em0ui.jpg!tiny"
									alt="敏肉肉" title="敏肉肉"></a><a href="/user/19101053/sell.html"
								target="_blank">敏肉肉&nbsp;&nbsp;(8)</a></li>
							<li><a href="/user/18032955/sell.html" target="_blank"><img
									class="user_pic_tiny"
									src="http://cdn.shujie.me/user/2017/07/23/7089591396_1500798361.jpg!tiny"
									alt="陈小兔" title="陈小兔"></a><a href="/user/18032955/sell.html"
								target="_blank">陈小兔&nbsp;&nbsp;(7)</a></li>
							<li><a href="/user/18531834/sell.html" target="_blank"><img
									class="user_pic_tiny"
									src="http://cdn.shujie.me/user/2017/09/16/6067100620_1505571359.jpg!tiny"
									alt="绣虎雕龙" title="绣虎雕龙"></a><a href="/user/18531834/sell.html"
								target="_blank">绣虎雕龙&nbsp;&nbsp;(6)</a></li>
						</ul>
					</div>
				</div>

				<div class="side_block">
					<div class="title">最多人关注</div>
					<div class="separate"></div>
					<div class="side_user_list">
						<ul>
							<li><a target="_blank" href="/user/260781"><img
									src="http://cdn.shujie.me/user/2014/02/15/133_f.jpg!middle"
									title="夕林lynn ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/261505"><img
									src="http://cdn.shujie.me/user/2014/02/15/133_m.jpg!middle"
									title="CHRYS ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/262897"><img
									src="http://cdn.shujie.me/user/2014/02/15/134_f.jpg!middle"
									title="Subcrew ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/263832"><img
									src="http://cdn.shujie.me/user/2014/02/15/134_m.jpg!middle"
									title="白小白大宝 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/264984"><img
									src="http://cdn.shujie.me/user/2014/02/15/135_f.jpg!middle"
									title="只求一切都好 ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/265230"><img
									src="http://cdn.shujie.me/user/2014/02/15/135_m.jpg!middle"
									title="ACheee ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/266144"><img
									src="http://cdn.shujie.me/user/2014/02/15/136_f.jpg!middle"
									title="Migar ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/267500"><img
									src="http://cdn.shujie.me/user/2014/02/15/136_m.jpg!middle"
									title="夏至已过 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/268175"><img
									src="http://cdn.shujie.me/user/2014/02/15/137_f.jpg!middle"
									title="Evelyn ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/269742"><img
									src="http://cdn.shujie.me/user/2014/02/15/137_m.jpg!middle"
									title="就是牛奶儿 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/270178"><img
									src="http://cdn.shujie.me/user/2014/02/15/138_f.jpg!middle"
									title="TUER莉莉子 ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/271956"><img
									src="http://cdn.shujie.me/user/2014/02/15/138_m.jpg!middle"
									title="大白兔奶糖 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/272153"><img
									src="http://cdn.shujie.me/user/2014/02/15/139_f.jpg!middle"
									title="晨曦Zzanggg ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/273242"><img
									src="http://cdn.shujie.me/user/2014/02/15/139_m.jpg!middle"
									title="zz小晓 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/274100"><img
									src="http://cdn.shujie.me/user/2014/02/15/140_f.jpg!middle"
									title="CuteByTina ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/275400"><img
									src="http://cdn.shujie.me/user/2014/02/15/140_m.jpg!middle"
									title="胡大傻的王 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/276918"><img
									src="http://cdn.shujie.me/user/2014/02/15/141_f.jpg!middle"
									title="Sameow ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/278809"><img
									src="http://cdn.shujie.me/user/2014/02/15/142_f.jpg!middle"
									title="qiansen1386 ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/279631"><img
									src="http://cdn.shujie.me/user/2014/02/15/142_m.jpg!middle"
									title="Doggie ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/12475781"><img
									src="http://cdn.shujie.me/user/2016/03/13/5277522017_1457848602.jpg!middle"
									title="阿萌 ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/18296456"><img
									src="http://cdn.shujie.me/user/2018/08/26/11/18296456_sxgtucddstul3drp.jpg!middle"
									title="中医旧书店 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/18354480"><img
									src="http://cdn.shujie.me/user/2017/08/31/3028006862_1504149999.jpg!middle"
									title="yuyuyuyu ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/18610091"><img
									src="http://cdn.shujie.me/user/2019/02/10/08/18610091_qk0mty3m2t6j51nv.jpg!middle"
									title="活到老学到老9 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/24055601"><img
									src="http://cdn.shujie.me/user/2019/07/10/04/84536049_r2ahbodw4whcmkjr.jpg!middle"
									title="卖女孩的小图书 ♀ 北京中医药大学"></a></li>
						</ul>
					</div>
					<div class="clearfloat"></div>
				</div>
				<div class="side_block">
					<div class="title">最近登录用户</div>
					<div class="separate"></div>
					<div class="side_user_list">
						<ul>
							<li><a target="_blank" href="/user/26188874"><img
									src="http://cdn.shujie.me/user/2020/04/02/11/70439633_nzx132qohdyl0gd6.jpg!middle"
									title="yk123 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/262897"><img
									src="http://cdn.shujie.me/user/2014/02/15/134_f.jpg!middle"
									title="Subcrew ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/270178"><img
									src="http://cdn.shujie.me/user/2014/02/15/138_f.jpg!middle"
									title="TUER莉莉子 ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/264984"><img
									src="http://cdn.shujie.me/user/2014/02/15/135_f.jpg!middle"
									title="只求一切都好 ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/273242"><img
									src="http://cdn.shujie.me/user/2014/02/15/139_m.jpg!middle"
									title="zz小晓 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/269742"><img
									src="http://cdn.shujie.me/user/2014/02/15/137_m.jpg!middle"
									title="就是牛奶儿 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/268175"><img
									src="http://cdn.shujie.me/user/2014/02/15/137_f.jpg!middle"
									title="Evelyn ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/271956"><img
									src="http://cdn.shujie.me/user/2014/02/15/138_m.jpg!middle"
									title="大白兔奶糖 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/266144"><img
									src="http://cdn.shujie.me/user/2014/02/15/136_f.jpg!middle"
									title="Migar ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/267500"><img
									src="http://cdn.shujie.me/user/2014/02/15/136_m.jpg!middle"
									title="夏至已过 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/278809"><img
									src="http://cdn.shujie.me/user/2014/02/15/142_f.jpg!middle"
									title="qiansen1386 ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/276918"><img
									src="http://cdn.shujie.me/user/2014/02/15/141_f.jpg!middle"
									title="Sameow ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/277530"><img
									src="http://cdn.shujie.me/user/2014/02/15/141_m.jpg!middle"
									title="小瑞纳翻毛姬 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/263832"><img
									src="http://cdn.shujie.me/user/2014/02/15/134_m.jpg!middle"
									title="白小白大宝 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/279631"><img
									src="http://cdn.shujie.me/user/2014/02/15/142_m.jpg!middle"
									title="Doggie ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/274100"><img
									src="http://cdn.shujie.me/user/2014/02/15/140_f.jpg!middle"
									title="CuteByTina ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/272153"><img
									src="http://cdn.shujie.me/user/2014/02/15/139_f.jpg!middle"
									title="晨曦Zzanggg ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/265230"><img
									src="http://cdn.shujie.me/user/2014/02/15/135_m.jpg!middle"
									title="ACheee ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/275400"><img
									src="http://cdn.shujie.me/user/2014/02/15/140_m.jpg!middle"
									title="胡大傻的王 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/261505"><img
									src="http://cdn.shujie.me/user/2014/02/15/133_m.jpg!middle"
									title="CHRYS ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/260781"><img
									src="http://cdn.shujie.me/user/2014/02/15/133_f.jpg!middle"
									title="夕林lynn ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/18296456"><img
									src="http://cdn.shujie.me/user/2018/08/26/11/18296456_sxgtucddstul3drp.jpg!middle"
									title="中医旧书店 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/18610091"><img
									src="http://cdn.shujie.me/user/2019/02/10/08/18610091_qk0mty3m2t6j51nv.jpg!middle"
									title="活到老学到老9 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/24055601"><img
									src="http://cdn.shujie.me/user/2019/07/10/04/84536049_r2ahbodw4whcmkjr.jpg!middle"
									title="卖女孩的小图书 ♀ 北京中医药大学"></a></li>
						</ul>
					</div>
					<div class="clearfloat"></div>
				</div>
				<div class="side_block">
					<div class="title">新注册用户</div>
					<div class="separate"></div>
					<div class="side_user_list">
						<ul>
							<li><a target="_blank" href="/user/26229871"><img
									src="http://cdn.shujie.me/user/2020/05/01/11/39619183_387ozazg3h8pzxrr.jpg!middle"
									title="雪沐 ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/26223609"><img
									src="http://cdn.shujie.me/user/2020/04/27/01/06025727_dpngziatt6m06esq.jpg!middle"
									title="Coco32 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/26215101"><img
									src="http://cdn.shujie.me/user/2020/04/21/08/44311729_0r99qeypyb2ibyvx.jpg!middle"
									title="医学参考书 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/26136978"><img
									src="http://cdn.shujie.me/user/2020/03/13/16/66395954_5m72tyjoq2tty3iw.jpg!middle"
									title="弘扬国学正能量 ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/26215478"><img
									src="http://cdn.shujie.me/user/2020/04/21/12/26215478_r34xk6m28vf6abcr.jpg!middle"
									title="403587550 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/26373235"><img
									src="http://cdn.shujie.me/user/2020/09/22/07/82955300_wrifrzd4b34ra69r.jpg!middle"
									title="DRDdzhf18108841312 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/26206507"><img
									src="http://cdn.shujie.me/user/2020/04/15/06/90913389_w7l1c92lhbv0td2r.jpg!middle"
									title="赢勾 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/26228899"><img
									src="http://cdn.shujie.me/user/2020/04/30/13/78791990_is0lbdak8q1jhfd0.jpg!middle"
									title="一世长安99 ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/26215218"><img
									src="http://cdn.shujie.me/user/2020/04/21/08/69159358_1tovzzv15k5tpdku.jpg!middle"
									title="乞许 ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/26008147"><img
									src="http://cdn.shujie.me/user/2020/03/02/09/74271957_74ziu9sm170yxebx.jpg!middle"
									title="给你一颗糖 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/26188874"><img
									src="http://cdn.shujie.me/user/2020/04/02/11/70439633_nzx132qohdyl0gd6.jpg!middle"
									title="yk123 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/26232801"><img
									src="http://cdn.shujie.me/user/2020/05/04/10/36097344_sh9ndxljmanu7bz8.jpg!middle"
									title="一剑飘香 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/26220415"><img
									src="http://cdn.shujie.me/user/2020/04/24/13/90472014_pgty5mjneujbh1s5.jpg!middle"
									title="于晓东1 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/26203178"><img
									src="http://cdn.shujie.me/user/2020/04/13/04/17938884_l8zr9xsiyt74tvgy.jpg!middle"
									title="mengyi ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/26232420"><img
									src="http://cdn.shujie.me/user/2020/05/04/04/57116379_pfi795po5k0u1tgg.jpg!middle"
									title="黄氏中医 ♂ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/26212964"><img
									src="http://cdn.shujie.me/user/2020/04/19/22/37395433_wpf9s8dbf4p3wvt7.jpg!middle"
									title="娘娘 ♀ 北京中医药大学"></a></li>
							<li><a target="_blank" href="/user/26223107"><img
									src="http://cdn.shujie.me/user/2020/04/26/13/37698783_1p1p0wyht1ar401u.jpg!middle"
									title="不迎 ♀ 北京中医药大学"></a></li>
						</ul>
					</div>
					<div class="clearfloat"></div>
				</div>
			</div>
			<script type="text/javascript">
				
				</script>
			<div class="content_right">
				<div class="breadcrumbs">
					<a href="/sell.html">二手书籍分类</a> » <span>{{cate.name}}</span>
				</div>
				<div class="border_white padding_10 book_list">
					<div id="yw0" class="list-view">
						<div class="pager">
							<ul id="yw1" class="yiiPager">
								<li class="first hidden"><a href="/sell.html/category/id/3000">&lt;&lt;
										首页</a></li>
								<li class="previous"><a :href="'category.html?1000&page='+(page.page-1)">&lt; 前页</a></li>
								
								<li :class="active==num?'selected':''" v-for=" num in plist ">
									<a :href="'category.html?1000&page='+num">{{num}}</a>
								</li>
								
								<li class="previous"><a :href="'category.html?1000&page='+(page.page+1)">后页 &gt;</a></li>
								<li class="last"><a :href="'category.html?1000&page='+page.pages">末页 &gt;&gt;</a></li>
							</ul>
						</div>
						<div class="items">
							<div v-for="b in page.list" class="book_item dashed_border_bottom">
								<div class="book_pic">
									<a target="_blank"
										href="sell.html/12071462"> <img
										class="book_pic"
										:src="b.pic"
										:alt="b.name" :title="b.name">
									</a>
								</div>
								<div class="info">
									<div class="title">
										<a target="_blank" href="/sell.html/12071462">{{b.name}}</a>
									</div>
									<div class="detail padding_10">

										{{b.press}} / {{b.author}} <br>
										<br> ￥{{b.price}} &nbsp;&nbsp;
										<span class="line-through-price">￥{{b.markPrice}}</span>
										&nbsp;&nbsp;({{b.discount}}) <br>
										<br> {{b.oldnew}}
									</div>
									<div class="user_info_tiny">
										<div style="float: left;">
											<a href="/user/17628138" target="_blank"><img
												class="user_pic_tiny"
												src="http://cdn.shujie.me/user/2017/05/31/5199700371_1496231027.jpg!tiny"
												alt="思明" title="思明"></a><a href="/user/17628138"
												target="_blank">???</a>&nbsp;&nbsp;&nbsp;&nbsp;<span
												title="女生" class="female">♀</span>&nbsp;&nbsp;&nbsp;&nbsp;?????
										</div>
										<div class="comment_count"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="pager">
							<ul id="yw2" class="yiiPager">
								<li class="first hidden"><a href="/sell.html/category/id/3000">&lt;&lt;
										首页</a></li>
								<li class="previous"><a :href="'category.html?1000&page='+(page.page-1)">&lt; 前页</a></li>
								
								<li :class="active==num?'selected':''" v-for=" num in plist ">
									<a :href="'category.html?1000&page='+num">{{num}}</a>
								</li>
								
								<li class="previous"><a :href="'category.html?1000&page='+(page.page+1)">后页 &gt;</a></li>
								<li class="last"><a href="/sell.html/category/id/3000/page/99">末页
										&gt;&gt;</a></li>
							</ul>
						</div>
						<div class="keys" style="display: none"
							title="/sell.html/category/id/3000">
							<span>12071462</span><span>14150936</span><span>14169745</span><span>14169900</span>
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
				var v = new Vue({
					el:".content_right",
					data:{
						page : {},
						plist:[1,2,3,4,5],
						active:1,
						cate : [],
					},
					created(){
						// 127.0.0.1/category.html?1000
						var category = location.search.substring(1);
						axios.get("queryByCategory.do?category="+category).then(res=>{
							this.page = res.data;
							var p = this.page.page;
							var ps = this.page.pages;
							this.active = p;
							if(p>3){
								this.plist = [];
								if(ps-p-2<0){
									for(var i = 0;i<5;i++){
										this.plist.unshift(ps-i);
									}
								}else{
									for(var i = 0;i<5;i++){
										this.plist.push(p-2+i);
									}	
								}														
							}
						}),
						axios.get("selectByCateId.do?category="+category).then(res=>{
							this.cate = res.data;
						});			
					}
				})
			</script>
			<div class="clearfloat"></div>
		</div>
	</div>

	<div style="border-bottom: 1px solid rgb(255, 255, 255);"></div>
	<div style="position: fixed; top: 122px; right: 20px;">
		<img style="width: 120px; margin-bottom: 10px;"
			src="res/ios_download.jpg"><br> <img
			style="width: 120px; margin-bottom: 10px;"
			src="res/android_download.jpg">
	</div>
	<div class="clearfloat"></div>
	<div class="bottom">
		<div class="center_980">
			<div class="bottom_left">
				<ul>
					<li><a href="site/about">关于我们</a></li>
					<li><a href="site/joinus">申请合作</a></li>
					<li><a href="site/privacy">隐私政策</a></li>
					<li><a href="site/term">服务条款</a></li>
					<li><a href="site/help">帮助</a></li>
					<li><a href="site/link">友情链接</a></li>
				</ul>
			</div>
			<div id="copyright">
				© 2020 by 旧书街 <a href="http://beian.miit.gov.cn/">蜀ICP备16007902号-2</a>
			</div>
		</div>
	</div>
	<h1 class="jiushujie_slogan">买卖二手书，就上旧书街。旧书街二手书交易网-您身边的旧书网站</h1>
</body>
</html>