<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="keywords" content="旧书,二手书,二手教材,旧教材,校园书籍,校园旧书，旧书网">
<meta name="description" content="买卖二手书，就上旧书街">
<meta name="language" content="zh">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="res/form.css">
<link rel="stylesheet" type="text/css" href="res/pager.css">
<link rel="stylesheet" type="text/css" href="res/ubm_basic.css">
<link rel="shortcut icon"
	href="http://cdnfile.jiushujie.com/images/ubm.ico" type="image/x-icon">
	
<script type="text/javascript" src="https://lib.baomitu.com/vue/2.6.12/vue.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.min.js"></script>

<title>买卖二手书,就上旧书街</title>
</head>
<body>
	<div class="site_top_row">
		<div class="center_980">
			<div class="school_location" style="float: left;">
				[<a href="javascript:void(0)"
					onclick="showSchoolList();return false;">所有学校</a>]
			</div>
			<div id="top_user_info" style="float: right;">
				<a href="login.html">登录</a>|<a
					href="sell/create">出售</a>|<a
					style="color: rgb(254, 137, 0);"
					href="register.html">立即注册</a>|<a
					class="app_mobile" target="_blank"
					href="site/app">下载APP</a>
			</div>
			<div class="clearfloat"></div>
		</div>
	</div>
	<div id="top">
		<div class="center_980">
			<div id="logo">
				<a href=""> <img
					src="res/jiushujie-logo.png" alt="买卖二手书,就上旧书街" title="买卖二手书,就上旧书街">
				</a>
			</div>
			<div style="float: left;">
				<img src="res/slogan1124.png">
			</div>
			<div id="top-nav">
				<ul class="top_menu">
					<li><a id="home_tab" href="home"
						class="selectedtab">首页</a></li>
					<li><a id="sell_tab" href="sell">出售</a>
					</li>
					<li><a id="buy_tab" href="buy">求购</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="main_middle">
		<div id="main_content" class="center_980">
			<div class="content_left">
				<div class="border_white align_center padding_10">
					<div
						style="font-size: 30px; font-weight: bold; color: rgb(167, 167, 167);">还未注册旧书街?</div>
					<br> <input onclick=""
						class="button" name="yt0" type="button" value="立即注册">
				</div>
				<div style="margin-top: 20px;">
					<div class="side_block">
						<div class="title">新注册用户</div>
						<div class="separate"></div>
						<div class="side_user_list">
							<ul>
								<li><a target="_blank" href="/user/26229871"><img
										src="http://cdn.shujie.me/user/2020/05/01/11/39619183_387ozazg3h8pzxrr.jpg!middle"
										title="雪沐 ♀ 北京中医药大学"></a></li>
								<li><a target="_blank" href="/user/26203178"><img
										src="http://cdn.shujie.me/user/2020/04/13/04/17938884_l8zr9xsiyt74tvgy.jpg!middle"
										title="mengyi ♀ 北京中医药大学"></a></li>
								<li><a target="_blank" href="/user/26206507"><img
										src="http://cdn.shujie.me/user/2020/04/15/06/90913389_w7l1c92lhbv0td2r.jpg!middle"
										title="赢勾 ♂ 北京中医药大学"></a></li>
								<li><a target="_blank" href="/user/26232801"><img
										src="http://cdn.shujie.me/user/2020/05/04/10/36097344_sh9ndxljmanu7bz8.jpg!middle"
										title="一剑飘香 ♂ 北京中医药大学"></a></li>
								<li><a target="_blank" href="/user/26188874"><img
										src="http://cdn.shujie.me/user/2020/04/02/11/70439633_nzx132qohdyl0gd6.jpg!middle"
										title="yk123 ♂ 北京中医药大学"></a></li>
								<li><a target="_blank" href="/user/26212964"><img
										src="http://cdn.shujie.me/user/2020/04/19/22/37395433_wpf9s8dbf4p3wvt7.jpg!middle"
										title="娘娘 ♀ 北京中医药大学"></a></li>
								<li><a target="_blank" href="/user/26223609"><img
										src="http://cdn.shujie.me/user/2020/04/27/01/06025727_dpngziatt6m06esq.jpg!middle"
										title="Coco32 ♂ 北京中医药大学"></a></li>
								<li><a target="_blank" href="/user/26220415"><img
										src="http://cdn.shujie.me/user/2020/04/24/13/90472014_pgty5mjneujbh1s5.jpg!middle"
										title="于晓东1 ♂ 北京中医药大学"></a></li>
								<li><a target="_blank" href="/user/26215218"><img
										src="http://cdn.shujie.me/user/2020/04/21/08/69159358_1tovzzv15k5tpdku.jpg!middle"
										title="乞许 ♀ 北京中医药大学"></a></li>
								<li><a target="_blank" href="/user/26228899"><img
										src="http://cdn.shujie.me/user/2020/04/30/13/78791990_is0lbdak8q1jhfd0.jpg!middle"
										title="一世长安99 ♀ 北京中医药大学"></a></li>
								<li><a target="_blank" href="/user/26215478"><img
										src="http://cdn.shujie.me/user/2020/04/21/12/26215478_r34xk6m28vf6abcr.jpg!middle"
										title="403587550 ♂ 北京中医药大学"></a></li>
								<li><a target="_blank" href="/user/26215101"><img
										src="http://cdn.shujie.me/user/2020/04/21/08/44311729_0r99qeypyb2ibyvx.jpg!middle"
										title="医学参考书 ♂ 北京中医药大学"></a></li>
								<li><a target="_blank" href="/user/26136978"><img
										src="http://cdn.shujie.me/user/2020/03/13/16/66395954_5m72tyjoq2tty3iw.jpg!middle"
										title="弘扬国学正能量 ♀ 北京中医药大学"></a></li>
								<li><a target="_blank" href="/user/26232420"><img
										src="http://cdn.shujie.me/user/2020/05/04/04/57116379_pfi795po5k0u1tgg.jpg!middle"
										title="黄氏中医 ♂ 北京中医药大学"></a></li>
								<li><a target="_blank" href="/user/26373235"><img
										src="http://cdn.shujie.me/user/2020/09/22/07/82955300_wrifrzd4b34ra69r.jpg!middle"
										title="DRDdzhf18108841312 ♂ 北京中医药大学"></a></li>
								<li><a target="_blank" href="/user/26223107"><img
										src="http://cdn.shujie.me/user/2020/04/26/13/37698783_1p1p0wyht1ar401u.jpg!middle"
										title="不迎 ♀ 北京中医药大学"></a></li>
							</ul>
						</div>
						<div class="clearfloat"></div>
					</div>
				</div>
			</div>
			<div class="content_right">
				<div class="form border_white padding_10">
					<div class="page_title">登录旧书街</div>
					<form id="login-form" action="/login.html" method="post">
						<input type="hidden"
							value="aldwNTRsWTk3QTdqbnFsb0w3eUdkWE41NEZrNHdxfnBVszCUZnhj1OTN9RXoDkEBa_S8ZcvJbtfVa7Wuuai2Hw=="
							name="YII_CSRF_TOKEN"> <br>
						<table class="ubm_input">
							<tbody>
								<tr>
									<td><label for="LoginForm_email" class="required">账号
											<span class="required">*</span>
									</label></td>
									<td><input v-model="user.account" maxlength="45" class="input_public"
										tabindex="1" name="LoginForm[email]" id="LoginForm_email"
										type="text" style="color: rgb(153, 153, 153);"></td>
									<td><div id="LoginForm_emailTip" class="onShow"
											style="margin: 0px; padding: 0px; background: transparent;"></div></td>
								</tr>
								<tr>
									<td><label for="LoginForm_password" class="required">密码
											<span class="required">*</span>
									</label></td>
									<td><input v-model="user.pwd" maxlength="45" class="input_public"
										tabindex="2" name="LoginForm[password]"
										id="LoginForm_password" type="password"></td>
									<td><div id="LoginForm_passwordTip" class="onShow"
											style="margin: 0px; padding: 0px; background: transparent;"></div></td>
								</tr>
							</tbody>
						</table>
						<br>
						<div class="margin_left_134">
							<input @click.prevent="login" id="submit_button" class="button" tabindex="4"
								type="submit" name="yt1" value="登录">&nbsp;&nbsp;<a
								href="/set/askReset">忘记密码？</a>
						</div>
						<br>
					</form>
					<script type="text/javascript">
						var v = new Vue({
							el : "#login-form",
							data : {
								user : { account:"" , pwd:""}
							},
							methods : {
								login(){
									var p = new URLSearchParams();
									p.append("account",this.user.account);
									p.append("pwd",this.user.pwd);
									axios.post("login.do", p).then(res=>{
										if(res.data.code == 1){
											location.href="index.html";
										} else {
											alert(res.data.msg);
										}
									});
								}
							}
						
						})
					
					</script>
				</div>
				<div class="form border_white"
					style="margin-top: 10px; padding: 9px;">
					<div style="margin-bottom: 10px;">使用注册过的第三方合作帐号登录</div>
					<a title="使用人人帐号登录"
						href="http://graph.renren.com/oauth/authorize?client_id=202ffbc2069a4abfba8f4896ac915f08&amp;redirect_uri=http%3A%2F%2Fwww.jiushujie.com%2FsocialLogin&amp;response_type=code&amp;state=renren&amp;scope=status_update+publish_feed"><img
						src="images/renren.png"></a><a
						title="使用QQ帐号登录" style="margin-left: 8px;"
						href="https://graph.qq.com/oauth2.0/authorize?response_type=code&amp;client_id=101031644&amp;redirect_uri=http%3A%2F%2Fwww.jiushujie.com%2FsocialLogin&amp;state=qq&amp;scope=get_user_info,add_t,add_pic_t"><img
						src="images/qq.png"></a><a
						title="使用豆瓣帐号登录" style="margin-left: 8px;"
						href="https://www.douban.com/service/auth2/auth?client_id=02edcd5d50d4becb08c96817f27e3c61&amp;redirect_uri=http%3A%2F%2Fwww.jiushujie.com%2FsocialLogin&amp;response_type=code&amp;state=douban"><img
						src="images/douban.png"></a><a
						title="使用新浪帐号登录" style="margin-left: 8px;"
						href="https://api.weibo.com/oauth2/authorize?client_id=2971047545&amp;redirect_uri=http%3A%2F%2Fwww.jiushujie.com%2FsocialLogin&amp;response_type=code&amp;state=sina"><img
						src="images/sina.png"></a>
				</div>
			</div>
			<div class="clearfloat"></div>
		</div>
	</div>
	<div style="border-bottom: 1px solid rgb(255, 255, 255);"></div>
	<div style="position: fixed; top: 122px; right: 20px;">
		<img style="width: 120px; margin-bottom: 10px;"
			src="res/ios_download.jpg"><br> <img
			style="width: 120px; margin-bottom: 10px;"
			src="res/android_download.jpg">
	</div>
	<div class="clearfloat"></div>
	<div class="bottom">
		<div class="center_980">
			<div class="bottom_left">
				<ul>
					<li><a href="site/about">关于我们</a></li>
					<li><a href="site/joinus">申请合作</a></li>
					<li><a href="site/privacy">隐私政策</a></li>
					<li><a href="site/term">服务条款</a></li>
					<li><a href="site/help">帮助</a></li>
					<li><a href="site/link">友情链接</a></li>
				</ul>
			</div>
			<div id="copyright">
				© 2020 by 旧书街 <a href="http://beian.miit.gov.cn/">蜀ICP备16007902号-2</a>
			</div>
		</div>
	</div>
	<h1 class="jiushujie_slogan">买卖二手书，就上旧书街。旧书街二手书交易网-您身边的旧书网站</h1>
</body>
</html>