<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="keywords" content="旧书,二手书,二手教材,旧教材,校园书籍,校园旧书，旧书网">
<meta name="description" content="买卖二手书，就上旧书街">
<meta name="language" content="zh">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="res/form.css">
<link rel="stylesheet" type="text/css" href="res/pager.css">
<link rel="stylesheet" type="text/css" href="res/ubm_basic.css">
<link rel="shortcut icon"
	href="http://cdnfile.jiushujie.com/images/ubm.ico" type="image/x-icon">

<script type="text/javascript" src="https://lib.baomitu.com/vue/2.6.12/vue.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.min.js"></script>
<script type="text/javascript"
	src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<title>买卖二手书,就上旧书街</title>
</head>
<body>
	<div class="site_top_row">
		<div class="center_980">
			<div class="school_location" style="float: left;">
				[<a href="javascript:void(0)"
					onclick="showSchoolList();return false;">所有学校</a>]
			</div>
			<div id="top_user_info" style="float: right;">
				<a href="login.html">登录</a>|<a
					href="sell.html/create">出售</a>|<a
					style="color: rgb(254, 137, 0);"
					href="register.html">立即注册</a>|<a
					class="app_mobile" target="_blank"
					href="site/app">下载APP</a>
			</div>
			<div class="clearfloat"></div>
		</div>
	</div>
	<div id="top">
		<div class="center_980">
			<div id="logo">
				<a href=""> <img
					src="res/jiushujie-logo.png" alt="买卖二手书,就上旧书街" title="买卖二手书,就上旧书街">
				</a>
			</div>
			<div style="float: left;">
				<img src="res/slogan1124.png">
			</div>
			<div id="top-nav">
				<ul class="top_menu">
					<li><a id="home_tab" href="/"
						class="selectedtab">首页</a></li>
					<li><a id="sell_tab" href="sell.html">出售</a>
					</li>
					<li><a id="buy_tab" href="buy">求购</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="main_middle">
		<div id="main_content" class="center_980">
			<div class="content_left">
				<div class="border_white align_center padding_10">
					<div
						style="font-size: 30px; font-weight: bold; color: rgb(167, 167, 167);">已有旧书街账号?</div>
					<br> <input class="button" name="yt0" type="button"
						value="立即登录">
				</div>
				<div style="margin-top: 20px;">
					<div class="side_block">
						<div class="title">最多人关注</div>
						<div class="separate"></div>
						<div class="side_user_list">
							<ul>
								<li><a target="_blank" href="/user/540305"><img
										src="http://cdn.shujie.me/user/2020/08/10/23/540305_n1dab5l6dee972hc.jpg!middle"
										title="旧书街客服 ♂ 北京交通大学"></a></li>
								<li><a target="_blank" href="/user/1730678"><img
										src="http://cdn.shujie.me/user/2014/03/21/4949898217_1395410353.jpg!middle"
										title="旧书街官方活动 ♂ 北京邮电大学"></a></li>
								<li><a target="_blank" href="/user/15624945"><img
										src="http://cdn.shujie.me/user/2016/07/19/9819130012_1468891330.jpg!middle"
										title="小豆腐啊 ♀ 山东师范大学"></a></li>
								<li><a target="_blank" href="/user/15768037"><img
										src="http://cdn.shujie.me/user/2017/03/18/8701011384_1489841601.jpg!middle"
										title="醉三年 ♂ 河北交通职业技术学院"></a></li>
								<li><a target="_blank" href="/user/15853618"><img
										src="http://cdn.shujie.me/user/2016/08/11/8767971901_1470919411.jpg!middle"
										title="怪盗 ♀ 清华大学"></a></li>
								<li><a target="_blank" href="/user/16605959"><img
										src="http://cdn.shujie.me/user/2016/11/24/0091191133_1479986351.jpg!middle"
										title="西施书屋 ♀ 宁波工程学院"></a></li>
								<li><a target="_blank" href="/user/16638354"><img
										src="http://cdn.shujie.me/user/2016/12/01/7468920359_1480572497.jpg!middle"
										title="蒲公英TM ♂ 河北师范大学"></a></li>
								<li><a target="_blank" href="/user/16982378"><img
										src="http://cdn.shujie.me/user/2017/08/31/8692929230_1504180972.jpg!middle"
										title="上游 ♂ 哈尔滨工程技术职业学院"></a></li>
								<li><a target="_blank" href="/user/17931502"><img
										src="http://cdn.shujie.me/user/2017/07/17/2303436157_1500259991.jpg!middle"
										title="吉光片羽 ♂ 河南财经政法大学"></a></li>
								<li><a target="_blank" href="/user/19167800"><img
										src="http://cdn.shujie.me/user/2018/11/07/6630286866_1541560291.jpg!middle"
										title="卖图书的女汉纸 ♂ 南京大学"></a></li>
								<li><a target="_blank" href="/user/22333097"><img
										src="http://cdn.shujie.me/user/2019/09/15/13/22333097_6eygylayxuykgex4.jpg!middle"
										title="sky78 ♂ 北京大学"></a></li>
								<li><a target="_blank" href="/user/22476232"><img
										src="http://cdn.shujie.me/user/2019/07/04/05/22476232_nn68l1csye5f9nwd.jpg!middle"
										title="清水精品书屋 ♂ 延边大学"></a></li>
							</ul>
						</div>
						<div class="clearfloat"></div>
					</div>
				</div>
			</div>
			<div class="content_right">
				<div class="form border_white padding_10">
					<div class="page_title">新用户注册</div>
					<div style="padding-left: 20px;">请注意，注册资料除密码外，提交后不能再修改哦!</div>
					<form id="user-regist-form" action="/regist" method="post">
						<input type="hidden"
							value="X0J2bzJPTlJDNnVKR1VlM2MyZGxSM3kwdk5RdnlQZVBZ3-XQ36kulkbowelmV8XT2E7ueyPvc9Wu5p6UlRqdvA=="
							name="YII_CSRF_TOKEN">
						<table class="ubm_input">
							<tbody>
								<tr>
									<td><label for="UserRegist_cellphone" class="required">手机号
											<span class="required">*</span>
									</label></td>
									<td><input maxlength="15" class="ubm_textinput"
										name="phone" id="UserRegist_cellphone"
										type="text" v-model="user.phone"></td>
									<td><div>{{errors.phone}}</div></td>
								</tr>
								<tr>
									<td><label for="UserRegist_cellphone" class="required">账号
											<span class="required">*</span>
									</label></td>
									<td><input maxlength="15" class="ubm_textinput"
										name="account" id="UserRegist_cellphone"
										type="text" v-model="user.account"></td>
									<td><div>{{errors.account}}</div></td>
								</tr>
								<tr>
									<td><label for="UserRegist_cellphone" class="required">密码
											<span class="required">*</span>
									</label></td>
									<td><input maxlength="15" class="ubm_textinput"
										name="pwd" id="UserRegist_cellphone"
										type="text" v-model="user.pwd"></td>
									<td><div>{{errors.pwd}}</div></td>
								</tr>
								<tr>
									<td><label for="UserRegist_cellphone" class="required">邮箱
											<span class="required">*</span>
									</label></td>
									<td><input maxlength="30" class="ubm_textinput"
										name="email" id="UserRegist_cellphone"
										type="text" v-model="user.email"></td>
									<td><div>{{errors.email}}</div></td>
								</tr>
								<tr>
									<td><label for="UserRegist_cellphone" class="required">昵称
											<span class="required">*</span>
									</label></td>
									<td><input maxlength="15" class="ubm_textinput"
										name="name" id="UserRegist_cellphone"
										type="text" v-model="user.name"></td>
									<td><div>{{errors.name}}</div></td>
								</tr>
								<tr>
									<td><label for="UserRegist_gender" class="required">性别
											<span class="required">*</span>
									</label></td>
									<td><select class="ubm_textinput"
										name="gender" id="UserRegist_gender" v-model="user.gender">
											<option value="" selected="selected">-- 请选择 --</option>
											<option value="m">男生</option>
											<option value="f">女生</option>
									</select></td>
									<td><div id="UserRegist_genderTip" class="onShow"
											style="margin: 0px; padding: 0px; background: transparent;">{{errors.gender}}</div></td>
								</tr>
								<tr>
									<td></td>
									<td><input id="regist_accept" value="1" checked="checked"
										type="checkbox"> &nbsp;接受旧书街&nbsp;<a target="_blank"
										href="/site/term">服务条款</a></td>
									<td></td>
								</tr>
							</tbody>
						</table>
						<div class="margin_left_134">
							<input id="submit_button" class="button" type="button" name="yt1"
								@click="regist" value="提交注册">
						</div>
					</form>
					<script type="text/javascript">
						var v = new Vue({
							el : "#user-regist-form",
							data : {
								user : {
									phone : "",
									account : "",
									name : "",
									email : "",
									pwd : "",
									gender:"",
								},
								errors : {
									phone : "",
									account : "",
									name : "",
									email : "",
									pwd : "",
									gender:"",
								}
							},
							methods : {
								regist(){
									var param = new URLSearchParams();
									param.append('phone',this.user.phone);
									param.append('account',this.user.account);
									param.append('name',this.user.name);
									param.append('email',this.user.email);
									param.append('pwd',this.user.pwd);
									param.append('gender',this.user.gender);
									axios.post("regist.do",param).then(res=>{
										if(res.data.code==1){
											alert(res.data.msg);
											location.href="login.html"
										}
										// 清除之前的错误提示
										for( let e in this.errors){  // let 定义的局部变量  ~=  var
											var na = document.getElementsByName(e);
											$(na).css('boxShadow','');
											this.errors[e] = '';
										}
										// 如果code不等于1，表示失败，要将错误提示展示在页面
										if(res.data.code != 1){
											// 将报错信息展示到对应的字段下面
											var es = res.data.data;
											for( let e of es){  // == java for( e : es)
												var na = document.getElementsByName(e.field);
												$(na).css("boxShadow","0px 0px 5px 3px red");	
												this.errors[e.field] = e.defaultMessage;  // [ ] 对对象的数字哪个复制
											}
										}
									})
								}
							}
						})
					</script>
				</div>
			</div>
			<div class="clearfloat"></div>

			<style type="text/css">
div#img_verify table.ubm_input td {
	text-align: center;
	width: 400px;
}
</style>

		</div>
	</div>

	<div style="border-bottom: 1px solid rgb(255, 255, 255);"></div>
	<div style="position: fixed; top: 122px; right: 20px;">
		<img style="width: 120px; margin-bottom: 10px;"
			src="res/ios_download.jpg"><br> <img
			style="width: 120px; margin-bottom: 10px;"
			src="res/android_download.jpg">
	</div>
	<div class="clearfloat"></div>
	<div class="bottom">
		<div class="center_980">
			<div class="bottom_left">
				<ul>
					<li><a href="site/about">关于我们</a></li>
					<li><a href="site/joinus">申请合作</a></li>
					<li><a href="site/privacy">隐私政策</a></li>
					<li><a href="site/term">服务条款</a></li>
					<li><a href="site/help">帮助</a></li>
					<li><a href="site/link">友情链接</a></li>
				</ul>
			</div>
			<div id="copyright">
				© 2020 by 旧书街 <a href="http://beian.miit.gov.cn/">蜀ICP备16007902号-2</a>
			</div>
		</div>
	</div>
	<h1 class="jiushujie_slogan">买卖二手书，就上旧书街。旧书街二手书交易网-您身边的旧书网站</h1>
</body>
</html>