<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="keywords" content="旧书,二手书,二手教材,旧教材,校园书籍,校园旧书，旧书网">
<meta name="description" content="买卖二手书，就上旧书街">
<meta name="language" content="zh">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="res/form.css">
<link rel="stylesheet" type="text/css" href="res/pager.css">
<link rel="stylesheet" type="text/css" href="res/ubm_basic.css">
<link rel="shortcut icon"
	href="http://cdnfile.jiushujie.com/images/ubm.ico" type="image/x-icon">

<title>买卖二手书,就上旧书街</title>
<script type="text/javascript" src="https://lib.baomitu.com/vue/2.6.12/vue.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.min.js"></script>
<script type="text/javascript" src="js/jsj.js"></script>
</head>
<body>
	<div id="yetou">
		<yetou></yetou>
	</div>
	<script type="text/javascript">
		var v119 = new Vue({
			el:"#yetou"
		})
	</script>
	<div id="top">
		<top></top>
	</div>
	<script type="text/javascript">
		new Vue({
			el : "#top"
		})
	</script>

	<div class="main_middle">

		<div id="main_content" class="center_980">
			<div class="content_left">
				<!-- Vue的自定义组件必须被 Vue 对象管理 -->
				<div id="luc">
					<!-- 使用Vue的自定义组件 -->
					
					<!-- 最热门店 -->
					<cate></cate>
					<hbs></hbs>
					<!-- 最热个人 -->
					<hotperson></hotperson>
					<!-- 最多人关注 -->
					<ltusers></ltusers>
					<!-- 最近登录 -->
					<mul></mul>
					<!-- 最近注册 -->
					<luc></luc>
				</div>
				<script type="text/javascript">
					new Vue({
						el:"#luc"
					})
				</script>
			</div>
			<script type="text/javascript">
				
				</script>
			<div class="content_right">
				<div class="border_white"
					style="margin-bottom: 10px; padding: 4px 10px;">
					<div class="search_tag">
						<a class="all selected" title="所有人的书籍" href="javascript:void(0);"
							onclick="submitTagType('');
                return false;">所有人的</a>
						<a class="follow" title="关注人的书籍" href="javascript:void(0);"
							onclick="submitTagType('follow');
                return false;">关注人的</a>
						<a class="fan" title="粉丝的书籍" href="javascript:void(0);"
							onclick="submitTagType('fan');
                return false;">粉丝的</a>
						<a class="comment" title="留言过的书籍" href="javascript:void(0);"
							onclick="submitTagType('comment');
                return false;">留言过的</a>
						<a class="free" title="免费赠送的书籍" href="javascript:void(0);"
							onclick="submitTagType('free');return false;">赠送的</a>
					</div>
					<div class="search_div">
						<form id="search_title_form" action="/sell.html?tag=" method="get">
							<input type="hidden" value="" name="tag"><input
								placeholder="请输入关键字搜索" class="queryinput" type="text" value=""
								name="q" id="q"><input type="button"
								class="search_div_button" value="搜 索" onclick="submitSearch();">
						</form>
					</div>
					<div class="clearfloat"></div>
				</div>
				<div class="border_white padding_10 book_list">
					<script type="text/javascript">
						function afterAjax(data) {
							if (g_reloginNotice == data) {
								window.location = g_loginUrl;
								return;
							} else if (g_ddosDenyMsgStr == data) {
								$('div.content_right div.book_list').append(
										'<div>' + g_ddosDenyMsgStr + '</div>');
							}
						}
					</script>
					<div id="yw0" class="list-view">
						<div class="pager">
							<ul id="yw1" class="yiiPager">
								<li class="first hidden"><a href="/sell/category/id/3000">&lt;&lt;
										首页</a></li>
								<li class="previous"><a :href="'sell.html?page='+(page.page-1)">&lt; 前页</a></li>
								
								<li :class="active==num?'selected':''" v-for=" num in plist ">
									<a :href="'sell.html?page='+num">{{num}}</a>
								</li>
								
								<li class="previous"><a :href="'sell.html?page='+(page.page+1)">后页 &gt;</a></li>
								<li class="last"><a :href="'sell.html?page='+page.pages">末页 &gt;&gt;</a></li>
							</ul>
						</div>
						<div class="items">
							<div v-for="b in page.list" class="book_item dashed_border_bottom">
								<div class="book_pic">
									<a target="_blank"
										href="sell.html/395277219"> <img
										class="book_pic"
										:src="b.pic"
										:alt="b.name" :title="b.name">
									</a>
								</div>
								<div class="info">
									<div class="title">
										<a target="_blank" href="/sell.html/395277219">{{b.name}}</a>
									</div>
									<div class="detail padding_10">
										<div class="buy_action">
											<a href="#" @click.prevent="addCart(b.id)" class="button_link">购&nbsp;&nbsp;买</a>
										</div>
										{{b.press}} / {{b.author}} <br> <br> ￥{{b.price}} &nbsp;&nbsp;<span
											class="line-through-price">￥{{b.markPrice}}</span> &nbsp;&nbsp;({{b.discount}}) <br>
										<br> 全新
									</div>
									<div class="user_info_tiny">
										<div style="float: left;">
											<a href="/user/26477238" target="_blank"><img
												class="user_pic_tiny"
												:src="b.user.headImg"
												:alt="b.user.name" :title="b.user.name"></a><a href="/user/26477238"
												target="_blank">{{b.user.account}}</a>&nbsp;&nbsp;&nbsp;&nbsp;<span
												title="男生" class="male">♂</span>&nbsp;&nbsp;&nbsp;&nbsp;{{b.user.schoolObj.name}}
										</div>
										<div class="comment_count"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="pager">
							<ul id="yw2" class="yiiPager">
								<li class="first hidden"><a href="/sell/category/id/3000">&lt;&lt;
										首页</a></li>
								<li class="previous"><a :href="'sell.html?page='+(page.page-1)">&lt; 前页</a></li>
								
								<li :class="active==num?'selected':''" v-for=" num in plist ">
									<a :href="'sell.html?page='+num">{{num}}</a>
								</li>
								
								<li class="previous"><a :href="'sell.html?page='+(page.page+1)">后页 &gt;</a></li>
								<li class="last"><a :href="'sell.html?page='+page.pages">末页 &gt;&gt;</a></li>
							</ul>
						</div>
						<div class="keys" style="display: none" title="/sell.html">
							<span>395277219</span><span>395277215</span><span>395277204</span><span>395277195</span><span>395277178</span><span>395277175</span><span>395277171</span><span>395277167</span><span>395277166</span><span>395277164</span><span>395277163</span><span>395277161</span>
						</div>
					</div>
					<script type="text/javascript">
						new Vue({
							el:"#yw0",
							data:{ 
								page : {},
								plist:1,
								active:1,
								cate : [],
						},
							created(){
								var pa = location.search.substring(1);
								console.log(pa);
								axios.get("queryNew.do?"+pa).then(res=>{
									this.page = res.data;
									var p = this.page.page;
									var ps = this.page.pages;
									this.active = p;
									this.plist=ps;
									
									if(p>3){
										this.plist = [];
										if(ps-p-2<0){
											for(var i = 0;i<5;i++){
												this.plist.unshift(ps-i);
											}
										}else{
											for(var i = 0;i<5;i++){
												this.plist.push(p-2+i);
											}	
										}														
									}else{
										this.plist = [1,2,3,4,5];
									}												
									  
								})
							},
							methods:{
								addCart(id){
									axios.post("addCart.do?count=1&bid=" + id).then(res=>{
										alert(res.data.msg);

									})
								}
							}
						})
					
					</script>
				</div>
			</div>
			<div class="clearfloat"></div>
		</div>
	</div>
	<div style="border-bottom: 1px solid rgb(255, 255, 255);"></div>
	<div style="position: fixed; top: 122px; right: 20px;">
		<img style="width: 120px; margin-bottom: 10px;"
			src="res/ios_download.jpg"><br> <img
			style="width: 120px; margin-bottom: 10px;"
			src="res/android_download.jpg">
	</div>
	<div class="clearfloat"></div>
	<div id="foot">
	<foot></foot>	
	</div>
	<script type="text/javascript">
		new Vue({
			el:"#foot"
		})
	</script>
	<h1 class="jiushujie_slogan">买卖二手书，就上旧书街。旧书街二手书交易网-您身边的旧书网站</h1>
</body>
</html>