<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta name="keywords" content="旧书,二手书,二手教材,旧教材,校园书籍,校园旧书，旧书网">
<meta name="description" content="买卖二手书，就上旧书街">
<meta name="language" content="zh">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" type="text/css" href="res/form.css">
<link rel="stylesheet" type="text/css" href="res/pager.css">
<link rel="stylesheet" type="text/css" href="res/ubm_basic.css">
<link rel="shortcut icon"
	href="http://cdnfile.jiushujie.com/images/ubm.ico" type="image/x-icon">

<title>买卖二手书,就上旧书街</title>
<script type="text/javascript" src="https://lib.baomitu.com/vue/2.6.12/vue.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.min.js"></script>
<script type="text/javascript"
	src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
</head>
<body>
	<div class="site_top_row">
		<div class="center_980">
			<div class="school_location" style="float: left;">
				[<a href="javascript:void(0)"
					onclick="showSchoolList();return false;">所有学校</a>]
			</div>
			<div id="top_user_info" style="float: right;">
				<a href="login.html">登录</a>|<a
					href="sell.html/create">出售</a>|<a
					style="color: rgb(254, 137, 0);"
					href="register.html">立即注册</a>|<a
					class="app_mobile" target="_blank"
					href="site/app">下载APP</a>
			</div>
			<div class="clearfloat"></div>
		</div>
	</div>
	<div id="top">
		<div class="center_980">
			<div id="logo">
				<a href=""> <img
					src="res/jiushujie-logo.png" alt="买卖二手书,就上旧书街" title="买卖二手书,就上旧书街">
				</a>
			</div>
			<div style="float: left;">
				<img src="res/slogan1124.png">
			</div>
			<div id="top-nav">
				<ul class="top_menu">
					<li><a id="home_tab" href="/"
						class="selectedtab">首页</a></li>
					<li><a id="sell_tab" href="sell.html">出售</a>
					</li>
					<li><a id="buy_tab" href="buy">求购</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="main_middle">
		<div id="main_content" class="center_980">
			<div class="content_left">
				<div class="padding_10 border_white">
					<div class="user_setting_block">
						<div class="title">个人设置</div>
						<ul>
							<li><a id="user_basic" href="/set">头像&amp;基本信息</a></li>
							<li><a id="self_introduction" href="/intro">签名档</a></li>
							<li><a id="user_pwd" href="/changepwd">修改密码</a></li>
							<li><a id="invite_link" href="/my/inviteLink">我的邀请链接</a></li>
						</ul>
					</div>
					<div class="user_setting_block">
						<div class="title">我是卖家</div>
						<ul>
							<li><a id="sell_order_list" href="/my/sellOrderList">收到的订单</a></li>
							<li><a id="mail_fee_set" href="/mailFee">运费设置</a></li>
							<li><a id="bank_account" href="/set/bankAccount"
								class="active_link">收款账号设置</a></li>
						</ul>
					</div>
					<div class="user_setting_block">
						<div class="title">我是买家</div>
						<ul>
							<li><a id="my_order_list" href="/my/orderList">我下的订单</a></li>
							<li><a id="address_info_set" href="/address/index">收货信息</a></li>
						</ul>
					</div>
					<div class="user_setting_block">
						<div class="title">动态</div>
						<ul>
							<li><a id="news_list" href="/my/newsList">我的动态</a></li>
						</ul>
					</div>
					<div class="user_setting_block">
						<div class="title">书籍</div>
						<ul>
							<li><a id="sell_list" href="/mysell">我的出售</a></li>
							<li><a id="soldout_list" href="/mysell?soldout=1">我的售罄</a></li>
							<li><a id="buy_list" href="/mybuy">我的求购</a></li>
						</ul>
					</div>
					<div class="user_setting_block">
						<div class="title">留言</div>
						<ul>
							<li><a id="sell_comment_tab"
								href="/my/commentList/type/sell.html">留言-出售</a></li>
							<li><a id="buy_comment_tab" href="/my/commentList/type/buy">留言-求购</a></li>
							<li><a id="news_comment_tab"
								href="/my/commentList/type/news">留言-动态</a></li>
						</ul>
					</div>
					<div class="user_setting_block">
						<div class="title">消息</div>
						<ul>
							<li><a id="inbox_tab" href="/inbox">收件箱</a></li>
							<li><a id="outbox_tab" href="/outbox">发件箱</a></li>
						</ul>
					</div>
					<div class="user_setting_block">
						<div class="title">用户</div>
						<ul>
							<li><a id="fan_by_me_tab" href="/follow">我的关注</a></li>
							<li><a id="fan_of_me_tab" href="/fan">我的粉丝</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="content_right">
				<div class="border_white padding_10">
					<div class="form">
						<div class="page_title">收款账号设置</div>
						<form id="user-introduction-form" action="/set/bankAccount"
							method="post">
							<input type="hidden"
								value="aldwNTRsWTk3QTdqbnFsb0w3eUdkWE41NEZrNHdxfnBVszCUZnhj1OTN9RXoDkEBa_S8ZcvJbtfVa7Wuuai2Hw=="
								name="YII_CSRF_TOKEN">
							<table class="ubm_input">
								<tbody>
									<tr>
										<td><label for="BankAccount_type" class="required">账号类型
												<span class="required">*</span>
										</label></td>
										<td><select class="ubm_textinput"
											name="collect_type" id="BankAccount_type">
												<option value="" selected="selected"></option>
												<option value="支付宝">支付宝</option>
												<option value="中国银行">中国银行</option>
												<option value="中国工商银行">中国工商银行</option>
												<option value="中国建设银行">中国建设银行</option>
												<option value="中国农业银行">中国农业银行</option>
												<option value="招商银行">招商银行</option>
										</select></td>
										<td><div>{{errors.collectType}}</div></td>
									</tr>
									<tr>
										<td><label for="BankAccount_realname" class="required">开户名
												<span class="required">*</span>
										</label></td>
										<td><input v-model="user.collect_name" maxlength="45" class="ubm_textinput"
											name="collect_name" id="BankAccount_realname"
											type="text"></td>
										<td><div>{{errors.collectName}}</div></td>
									</tr>
									<tr>
										<td><label for="BankAccount_account" class="required">账号
												<span class="required">*</span>
										</label></td>
										<td><input v-model="user.collect_account" maxlength="45" class="ubm_textinput"
											name="collect_account" id="BankAccount_account"
											type="text"></td>
										<td><div>{{errors.collectAccount}}</div></td>
									</tr>
								</tbody>
							</table>
							
							<div class="margin_left_134">
								<input id="submit_button" class="button" type="button"
							 		@click="sub"	name="yt0" value="提交">
							</div>
						</form>
						<script type="text/javascript">
						var v = new Vue({
							el : "#user-introduction-form",
							data : {
								user : {
									collect_type : "",
									collect_account : "",
									collect_name : "",
								},
								errors : {
									collectType : "",
									collectAccount : "",
									collectName : "",
								},
							},
							methods : {
								sub(){
									var type=document.getElementById("BankAccount_type");
									var index1=type.selectedIndex;
									this.user.collect_type=type.options[index1].value;
									var param = new URLSearchParams();
									param.append('collectType',this.user.collect_type);
									param.append('collectAccount',this.user.collect_account);
									param.append('collectName',this.user.collect_name);
									axios.post("addCollect.do",param).then(res=>{
										if(res.data.code==1){
											alert(res.data.msg);
										}
										// 清除之前的错误提示
										for( let e in this.errors){  // let 定义的局部变量  ~=  var
											var na = document.getElementsByName(e);
											$(na).css('boxShadow','');
											this.errors[e] = '';
										}
										// 如果code不等于1，表示失败，要将错误提示展示在页面
										if(res.data.code != 1){
											// 将报错信息展示到对应的字段下面
											var es = res.data.data;
											for( let e of es){  // == java for( e : es)
												var na = document.getElementsByName(e.field);
												$(na).css("boxShadow","0px 0px 5px 3px red");	
												this.errors[e.field] = e.defaultMessage;  // [ ] 对对象的数字哪个复制
											}
										}
										
									});
								}
							}
						})
					</script>
					</div>
				</div>
			</div>
			<div class="clearfloat"></div>
		</div>
	</div>

	<div style="border-bottom: 1px solid rgb(255, 255, 255);"></div>
	<div style="position: fixed; top: 122px; right: 20px;">
		<img style="width: 120px; margin-bottom: 10px;"
			src="res/ios_download.jpg"><br> <img
			style="width: 120px; margin-bottom: 10px;"
			src="res/android_download.jpg">
	</div>
	<div class="clearfloat"></div>
	<div class="bottom">
		<div class="center_980">
			<div class="bottom_left">
				<ul>
					<li><a href="site/about">关于我们</a></li>
					<li><a href="site/joinus">申请合作</a></li>
					<li><a href="site/privacy">隐私政策</a></li>
					<li><a href="site/term">服务条款</a></li>
					<li><a href="site/help">帮助</a></li>
					<li><a href="site/link">友情链接</a></li>
				</ul>
			</div>
			<div id="copyright">
				© 2020 by 旧书街 <a href="http://beian.miit.gov.cn/">蜀ICP备16007902号-2</a>
			</div>
		</div>
	</div>
	<h1 class="jiushujie_slogan">买卖二手书，就上旧书街。旧书街二手书交易网-您身边的旧书网站</h1>
</body>
</html>