<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<!-- namespace 命名空间  XML 关联接口, 必须保证 xml的命名空间==接口的完全限定名  -->
<mapper namespace="com.yc.mybatis.dao.UserMapper">

	<resultMap type="com.yc.mybatis.bean.JsjUser" id="rmUser">
		<id column="id" property="id"/>
		<!-- 省略对用户字段的自定义映射 -->
		<!-- 一对多关联
			property="books" 定义查询结果集合
			column="id" 	 定义当前表的主键 id,
			关联查询的问题: N+1 查询问题
		 -->
		<collection property="books" column="id"
			select="selectByOwnerId"
			fetchType="lazy"></collection>
		
		<!-- 查询用户粉丝的一对多关联 -->
		<collection property="fans" column="id"
			select="selectFansById"
			fetchType="lazy"></collection>
		
	</resultMap>

	<!-- 接口的方法名 == id -->
	<select id="selectById" resultMap="rmUser">
		select * from jsj_user where id=#{id}
	</select>
	
	<select id="selectByOwnerId" resultType="com.yc.mybatis.bean.JsjBook">
		select * from jsj_book where owner_id=#{ownerId}
	</select>
	
	<select id="selectFansById" resultMap="rmUser">
		select * 
		  from jsj_fans a 
		  left join jsj_user b on a.fid = b.id 
		 where uid=#{id} order by a.id
	</select>
	

</mapper>