<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>源辰-浏览管理员信息</title>
<link rel="shortcut icon" href="../../images/yc.png" type="image/x-icon" />
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/main.css">
<script type="text/javascript" src="../js/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
</head>
<body>
<div id="table" class="mt10">
	<div class="box span10 oh">
		<table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table">
			<thead>
				<tr>
					<th width="100">编号</th>
                   	<th width="100">昵称</th>
                   	<th width="100">密码</th>
                   	<th width="100">姓名</th>
                   	<th width="100">联系方式</th>
                   	<th width="100">注册邮箱</th>
                   	<th width="120">注册时间</th>
					<th width="8%">状态</th>
                   	<th width="120">操作</th>
                </tr>
             </thead>
             <tbody id="member_info" align="center">
				<tr v-for="u in ulist">
					<td>{{u.id}}</td>
					<td>{{u.account}}</td>
					<td>{{u.pwd}}</td>
					<td>{{u.name}}</td>
					<td>{{u.phone}}</td>
					<td>{{u.email}}</td>
					<td>{{u.regTime}}</td>
					<td v-if="u.status==1" class="green">正常</td>
					<td v-if="u.status==0" class="red">冻结</td>
					<td >
						<div>
							<button v-if="u.status==0" @click="frouser(u.status)">解冻</button>
							<button v-if="u.status==1" @click="frouser(u.status)">冻结</button>
							<button @click="resetuser(u.id)">重置密码</button>
						</div>
					</td> 
				</tr>
             </tbody>
		</table>
        <div class="page mt10">
		<div class="pagination">
							<ul id="yw2" class="yiiPager">
								<li class="first hidden"><a href="/sell/category/id/3000">&lt;&lt;
										首页</a></li>
								<li class="previous"><a :href="'member.html?page='+(page.page-1)">&lt; 前一页</a></li>
								
								<li :class="active==num?'selected':''" v-for=" num in plist ">
									<a :href="'member.html?page='+num">{{num}}</a>
								</li>
								
								<li class="previous"><a :href="'member.html?page='+(page.page+1)">后一页 &gt;</a></li>
								<li class="last"><a :href="'member.html?page='+page.pages">尾页 &gt;&gt;</a></li>
							</ul>
		</div>
        </div>
	</div>
</div>

<script type="text/javascript">
	var vquery = new Vue({
		el:"#table",
		data:{
			ulist : [],
			page : {},
			plist:1,
			active:1
		},
		created(){
			var pa = location.search.substring(1);
			axios.get("../../selectAll.do?"+pa).then(res=>{
				this.page = res.data;
				this.ulist = res.data.list;
				var p = this.page.page;
				var ps = this.page.pages;
				this.active = p;
				this.plist=ps;
				
				if(p>3){
					this.plist = [];
					if(ps-p-2<0){
						for(var i = 0;i<5;i++){
							this.plist.unshift(ps-i);
						}
					}else{
						for(var i = 0;i<5;i++){
							this.plist.push(p-2+i);
						}	
					}														
				}else{
					this.plist = [1,2,3,4,5];
				}												
				  
			})
		},
		methods : {
			frouser(){
				var p = new URLSearchParams();
				p.append('id',this.ulist[0].id);
				p.append('status',this.ulist[0].status);
					axios.post("../../frouser.do",p).then(res=>{
						alert(res.data.msg);
						location.reload();
					})
			},
			resetuser(id){
			if(confirm("确定重置该用户的密码?")){
				axios.get("../../resetuser.do?id="+id).then(res=>{
					alert(res.data.msg);
					location.reload();
				})
			}
		}
		}
	})
</script>

<div class="popup_con">
	<div class="popup">
		<p id="popup_info"></p>
	</div>
</div>
</body>
</html>