<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../../css/register.css">

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
</head>

<body>
	<!-- 邮箱:<input v-model="email"><br>
	新密码:<input v-model="pwd"><br>
	确认密码:<input v-model="conpwd"><br>
	验证码:<input v-model="vcode"> -->
	 <div id="regst"  class="reg_form clearfix">
            <form id="myform">
                <ul>
                   <li>
                        <label for="pwd">原密码:</label>
                        <input v-model="bepwd" type="password" id="bepwd" name="bepwd" placeholder="请输入现在的密码"/>
                        <span class="error_tip yzm_tip" >提示信息</span>
                    </li>
                    <li>
                        <label for="pwd">密码:</label>
                        <input v-model="pwd" type="password" id="pwd" name="pwd" placeholder="请输入6~15位字母、数字还可包含特殊字符">
                        <span class="error_tip">提示信息</span>
                    </li>
                    <li>
                        <label for="cpwd">确认密码:</label>
                        <input v-model="conpwd" type="password" id="cpwd" name="cpwd" placeholder="请确认密码">
                        <span class="error_tip">提示信息</span>
                    </li>                     
                    <li>
                        <input type="button" id="reg" name="" @click="reset" value="确认">
                        <span id="errmsg">提示信息3</span>
                    </li>              
                </ul>
            </form>
        </div>
	<!-- <input id="changeVcode" @click="getVcode" type="button" :value="code"><br>
	<input @click="reset" type="button" value="确定"> -->
<script type="text/javascript">
	var v = new Vue({
		el:"#regst",
		data:{
			bepwd:"",
			pwd:"",
			conpwd:"",
		},methods:{
			reset(){
				axios.get("../../changePwd?bepwd="+this.bepwd+"&pwd="+this.pwd
						+"&conpwd="+this.conpwd).then(res=>{
					if(res.data.code==1){
						$("#popup_info").text(res.data.msg);
						showMsg();
						setTimeout(function(){
							top.location.href = "../index.html";
						},1000) 
					}else{
						$("#popup_info").text(res.data.msg);
						showMsg();
					}						
				})
			}
		}
	})
	
	
	function showMsg(){
		$('.popup_con').fadeIn('fast', function(){
			setTimeout(function(){
				$('.popup_con').fadeOut('fast',function(){
					// location.href = 'alipay/pay/' + data.msg +"/" + price;
				});	
			}, 1000)
		});
	}
</script>

<script type="text/javascript" src="../../js/jquery-3.4.1.min.js"></script>
<script src="../../js/register.js"></script>
<div class="popup_con">
	<div class="popup">
		<p id="popup_info"></p>
	</div>
</div>
</body>
</html>