<!DOCTYPE html>
<html>
<head>
<title>源辰-后台商品添加</title>
<meta charset="UTF-8">
<link rel="stylesheet" href="../css/common.css">
<link rel="stylesheet" href="../css/main.css">
<link rel="shortcut icon" href="../../images/yc.png" type="image/x-icon" />
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/showpic.js"></script>
<script type="text/javascript" src="../js/ajaxfileupload.js"></script>
<script src="../../ckeditor/ckeditor.js"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script type="text/javascript">
function setImagePreviews(imagesObj,divid) {	
    var dd = document.getElementById(divid);
    dd.style.display="block";
    dd.innerHTML = "";
    var fileList = imagesObj.files;
    vaddGood.picsName = fileList[0].name;
    var fr = new FileReader();
	

    for (var i = 0; i < fileList.length; i++) {            
        dd.innerHTML += "<div style='float:left;border:2px solid #95B8E7;margin-right:10px;margin-bottom:10px' > <img id='"+divid+"_img" + i + "'  /> </div>";
        var imgObjPreview = document.getElementById(divid+"_img"+i); 
        if (imagesObj.files && imagesObj.files[i]) {
            //火狐下，直接设img属性
            imgObjPreview.style.display = 'block';
            imgObjPreview.style.width = '100px';
            imgObjPreview.style.height = '100px';
            imgObjPreview.src = window.URL.createObjectURL(imagesObj.files[i]);
        }else {
            //IE下，使用滤镜
            imagesObj.select();
            var imgSrc = document.selection.createRange().text; //运用IE滤镜获取数据;
            //alert(imgSrc);
            var localImagId = document.getElementById("img" + i);
            //必须设置初始大小
            localImagId.style.width = "100px";
            localImagId.style.height = "100px";
            //图片异常的捕捉
            try {
                localImagId.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader( true,sizingMethod=scale,src = imgSrc)";  //scale：缩放图片以适应对象的尺寸边界。
            }
            catch (e) {
                alert("您上传的图片格式不正确，请重新选择!");
                return false;
            }
            imgObjPreview.style.display = 'none';
            document.selection.empty(); //在当前网页下不能选择对象,也就是鼠标不能选中 
        }
       
    }  
    return true;
}
</script>
</head>
<body>
<div id="forms" class="mt10">
	<div class="box">
		<div class="box_border">
			<div class="box_top">
				<b class="pl15">添加商品信息</b>
			</div>
			<div class="box_center">
				<form action="" class="jqtransform" id="addGoodsForm">
					<table class="form_table pt15 pb15" width="100%" border="0" cellpadding="0" cellspacing="0">
						<tr>
							<td class="td_right">商品类型：</td>
							<td>
								<select class="select" name="tid" id="goodsType" @change="getTname(event)">
									<option></option>
									<option v-for="i in stype" :value="i.tno">{{i.tname}}</option>
								</select>
							</td>
							<td class="td_right">商品名称：</td>
							<td>
								<input v-model="goodName" type="text" id="gname" name="title" class="input-text lh30" size="40" placeholder="请输入商品名称">
							</td>
							<td class="td_right">商品单价：</td>
							<td>
								<input v-model="gprice" type="number" id="price" name="price" class="input-text lh30" size="40" placeholder="单价"/>
							</td>
						</tr>
						<tr>
							<td class="td_right">商品库存：</td>
							<td>
								<input v-model="gbalance" type="number" id="balance" name="balance" class="input-text lh30" size="40"  placeholder="库存"/>
							</td>
							<td class="td_right">商品单位：</td>
							<td>
								<input v-model="gunit" type="text" id="unit" name="unit" class="input-text lh30" size="40" placeholder="单位"/>
							</td>
							<td class="td_right">保质期：</td>
							<td>
								<input v-model="gqperied" type="text" id="qperied" name="qperied" class="input-text lh30" size="40"  placeholder="保质期"/>
							</td>
						</tr>
						<tr>
							<td class="td_right">商品净重：</td>
							<td>
								<input v-model="gweight" type="text" id="weight" name="weight" class="input-text lh30" size="40" placeholder="净重" >
							</td>
							<td class="td_right">商品图片：</td>
							<td>
								<input type="file" id="pic" name="pic" class="input-text lh30" size="40" multiple="multiple" onchange="setImagePreviews(this,'showPics')">
							</td>
							<td></td>
							<td></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
							<td colspan="5" align="center">
								<div id="showPics">
								
								</div>
							</td>
						</tr>
						<tr>
							<td class="td_right">商品简介：</td>
							<td colspan="5">
								 <textarea v-model="gintro" name="intro" id="intro" rows="3" cols="100"></textarea>
							</td>
						</tr>
						<tr>
							<td class="td_right">商品描述：</td>
							<td colspan="5">
								 <textarea v-model="descr" name="editor1" id="editor1" rows="10" cols="80"></textarea>
							</td>
						</tr>
						<tr>
							<td colspan="4" align="center">
								<input type="button" name="button" class="btn btn82 btn_save2" @click="addGood" value="添加">
								<input type="reset" name="button" class="btn btn82 btn_res" value="重置">
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
//CKEDITOR.replace( 'editor1' );

var vaddGood = new Vue({
	el:"#forms",
	data:{
		stype:{},
		list:{},
		tno:"",
		goodName:"",
		gprice:"",
		gbalance:"",
		gunit:"",
		gqperied:"",
		gweight:"",
		gintro:"",
		descr:"",
		picsName:"",
	},created(){
		axios.get("../../stype").then(res=>{
			this.stype = res.data;
		});
	},methods:{
		getTname(e){
			this.tno = e.target.value;
		},addGood(){		
			var params = new URLSearchParams();
			params.append("tno",this.tno);
			params.append("goodName",this.goodName);
			params.append("gprice",this.gprice);
			params.append("gbalance",this.gbalance);
			params.append("gunit",this.gunit);
			params.append("gqperied",this.gqperied);
			params.append("gweight",this.gweight);
			params.append("gintro",this.gintro);
			params.append("descr",this.descr);
			params.append("picsName",this.picsName);
			axios.post("../../addGoods",params).then(res=>{
				if(res.data.code==1){
					$("#popup_info").text(res.data.msg);
					showMsg();
				}else{
					$("#popup_info").text(res.data.msg);
					showMsg();
				}
			})
		}
	}		
})
 /* function addGoodsInfo() {
	var tno = $.trim($("#goodsType").val());
	var gname = $.trim($("#gname").val());
	var price = $.trim($("#price").val());
	var balance = $.trim($("#balance").val());
	var unit = $.trim($("#unit").val());
	var qperied = $.trim($("#qperied").val());
	var weight = $.trim($("#weight").val());
	var intro = $.trim($("#intro").val());
	var descr = CKEDITOR.instances.editor1.getData();
	
	var filedata = new FormData(headform);
	$.ajaxFileUpload({
		url:'../../Img',
		secureuri: false,
		fileElementId:"pic",
		dataType:"json",
		data:{filedata,tno:tno, gname:gname,price:price,balance:balance,unit:unit,qperied:qperied,weight:weight,intro:intro,descr:descr},
		success:function(data, stuts) {
			data = parseInt($.trim(data));
			if (data == 1) {
				$("#addGoodsForm")[0].reset();
				$("#showPics").html("");
				CKEDITOR.instances.editor1.setData("");
				alert("商品信息添加成功...");
			} else {
				alert("商品信息添加失败...");
			}
		},
		error:function(data, status, e) {
			alert("商品信息添加失败，请稍后重试...\n" + e);
		}
	});
}  */
function showMsg(){
	$('.popup_con').fadeIn('fast', function(){
		setTimeout(function(){
			$('.popup_con').fadeOut('fast',function(){
				// location.href = 'alipay/pay/' + data.msg +"/" + price;
			});	
		}, 1000)
	});
}
</script>

<div class="popup_con">
	<div class="popup">
		<p id="popup_info"></p>
	</div>
</div>
</body>
</html>